#%RAML 1.0
title: Disclosures
baseUri: https://api.service.hmrc.gov.uk/individuals
version: 2020-06-18 08:37
documentation:
  - title: Disclosures
    content: |
     | Disclosure Type                    | Source | Boxes                     |
     |:--------------------------------|:-------|:--------------------------|
     | Tax Avoidance                   | SA101  | Tax Avoidance Box 19 - 20 |
uses:
  errors: ../generic/traits/errors.raml
  genericQueryParameters: ../generic/traits/queryParameters.raml
  wipErrors: traits/errors.raml
  genericHeaders: ../generic/traits/headers.raml
  baseTypes: ../generic/types/common/base-types.raml
/disclosures:
  /{nino}:
    uriParameters:
      nino: baseTypes.Nino
    /{taxYear}:
      uriParameters:
        taxYear: baseTypes.TaxYear
      get:
        displayName: Disclosures GET
        description: List of Disclosures
        is: [errors.notFound,errors.clientOrAgentNotAuthorised,errors.formatNino,errors.formatTaxYear]
        responses:
          200:
            body:
              application/json:
                example: !include examples/disclosures.json
      put:
        displayName: Disclosures PUT
        description: Create/update Disclosures submission
        is: [errors.notFound,errors.clientOrAgentNotAuthorised,errors.formatNino,errors.formatTaxYear]
        responses:
          200:
        body:
          application/json:
            example: !include examples/disclosures.json
      delete:
        displayName: Disclosures DELETE
        description: Delete Disclosures submission
        is: [errors.notFound,errors.clientOrAgentNotAuthorised,errors.formatNino,errors.formatTaxYear]
        responses:
          204:
